/* NAVBAR ICON */


/* IMAGE ON PRODUCT CARDS */
.card .card-img-top {
    height: 280px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

/* PRODUCT FILTERS */
#filter {
    list-style: none;
    text-align: left;
}

#filter li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: #5846f9;
    line-height: 1;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #5846f9;
}

#filter li:hover,
#filter li.filter-active {
    color: #fff;
    background: #5846f9;
}

#filter li:last-child {
    margin-right: 0;
}

/* ADD TO CART BUTTON */
.add-cart {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 50px 10px 28px;
    border-radius: 5px;
    transition: 0.5s;
    color: #fff;
    background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
    position: relative;
    border: none;
}

.add-cart:hover {
    background: linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
}

.add-cart i {
    font-size: 22px;
    position: absolute;
    right: 20px;
    top: 12px;
}